build
.vscode
out
logs
venv
.venv
**venv**
**.venv**
**env**
**.env**
**__pycache__**

# latex
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.dvi
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv